@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(../styles/duotone.css);
@import url(../styles/fontawesome.min.css);

@font-face {
  font-family: Samim;
  src: url(/fonts/Samim.woff2) format('woff2');
}
html {
  background-image: url(/images/wave.svg);
  background-size:cover;
  background-position-y: -10px;
  background-repeat: no-repeat;
  background-color: inherit;
}
